/* details page */
.details-container {
    width: 62%;
    margin: 0 auto;
    padding-inline-end: 355px;
}

/* details-page-title */
.details-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--brand-primary);
    text-decoration: none;
    cursor: pointer;
}

.article {
    background-color: var(--body-text-details);
    width: 100%;
    color: var(--bg_default-details);
}

.article-desc {
    position: relative;
    padding-top: 33px;
    padding-bottom: 10px;
}

.type {
    color: var(--brand-secondary);
}

.topic-desc {
    margin: 16px 0px;
    font-size: 16px;
}

.favoruite-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 320px;
    border: 3px solid var(--bg_default-details);
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
    z-index: 10;
    right: 0;
}

.favoruite-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.favoruite-card .favoruite-info {
    color: var(--body-text-details);
    padding: 20px 15px;
    background-color: var(--bg_default-details);
    margin-bottom: -2px;
}

.fav {
    border: 1px solid var(--lines-color);
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 11px;
    padding: 16px;
    padding-bottom: 8px;
    flex-wrap: wrap;
    align-items: center;
    border-color: var(--lines-color-details);
}

.fav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    padding: 12px 20px;
    border: none;
    background-color: var(--brand-secondary);
    color: var(--bg_default-details);
    margin-bottom: 1px;
    cursor: pointer;
    gap: 10px;
}

.card-author {
    font-size: 16px;
}

.card-author span {
    font-weight: 400;
}

.author-name {
    cursor: pointer;
    color: var(--brand-primary);
}

.fav-paragraph {
    font-size: 16px;
    margin-left: -55px;
    margin-top: 4px;
}

.unlimited {
    font-size: 13px;
    color: var(--body-text-details);
}

.fav-heart {
    font-size: 31px;
    color: var(--bg_default-details);
}

.main {
    border: 1px solid var(--lines-color);
    border-radius: 5px;
    background: var(--bg_default);
    margin-top: 31px;
    margin-bottom: 31px;
    color: var(--body-text);
}

.main>h2 {
    font-weight: 700;
    font-size: 24px;
    padding: 15px 28px;
    border-bottom: 1px solid var(--lines-color);
}

.main>ul {
    padding: 0;
    list-style-type: none;
}

.main>ul>li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 28px;
    border-bottom: 1px solid var(--lines-color);
    gap: 16px;
    font-weight: 700;
}


.details-main-desc {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    max-width: 80%;
}

.check {
    color: var(--brand-secondary);
    font-size: 24px;
    /* margin-right: 16px; */
}

.details-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_body);
    height: 100px;
    width: 100%;
    margin-bottom: 200px;
    font-weight: 700;
    color: var(--body-text);
}

.details-footer .copyright {
    margin-top: -80px;
}



/* Media query  */
@media (min-width: 501px) and (max-width: 950px) {
    .details-container {
        width: 90%;
        margin: 0 auto;
        padding-inline-end: 10%;
    }

    .favoruite-card {
        top: 105%;
        right: 20%;
    }


    .main {
        margin-top: 450px;
        margin-bottom: 10px;
    }

    .details-footer {
        margin-bottom: 10px;
    }

    .details-footer .copyright {
        margin-top: -20px;
    }

}

/* Media query  */
@media (min-width:361px) and (max-width: 500px) {
    .details-container {
        width: 90%;
        margin: 0 auto;
        padding-inline-end: 10%;
    }

    .favoruite-card {
        top: 105%;
        right: 4%;
    }


    .main {
        margin-top: 450px;
        margin-bottom: 10px;
    }

    .details-footer {
        margin-bottom: 10px;
    }

    .details-footer .copyright {
        margin-top: -20px;
    }

}

/* Media query  */
@media (max-width:360px) {
    .details-container {
        width: 90%;
        margin: 0 auto;
        padding-inline-end: 10%;
    }

    .favoruite-card {
        transform: scale(0.8);
        top: 100%;
        right: -13%;
    }


    .main {
        margin-top: 400px;
        margin-bottom: 10px;
    }

    .details-footer {
        margin-bottom: 10px;
    }

    .details-footer .copyright {
        margin-top: -20px;
    }

}